<% provide(:title,"勤怠表示画面" ) %>

<!--テストエリアーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-->
<p><%#= basic_info_time(@user.basic_time) %></p>
<!--ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-->

<div>
  <!--テーブル上部-->
  <table class = "table-bordered table-condensed">
    
    <tr>
      <!--年月切り替え表示-->
      <td width = "35%">
        <%= link_to "◀︎︎", user_url(params:{id: @user.id, first_day: @first_day.prev_month }), class: "btn btn-xs btn-default" %>
          &emsp;<%= @first_day.to_s(:month) %>　時間管理表&emsp;
        <%= link_to "▶︎︎︎", user_url(params:{id: @user.id, first_day: @first_day.next_month }), class: "btn btn-xs btn-default" %>
      </td>
      
      <!--指定勤務時間-->
  　　<td width = "25%">指定勤務時間　<%= basic_info_time(@user.specified_working_time) %></td>
  　　
  　　<!--基本時間-->
  　　<td width = "25%" colspan = "3"><%= basic_info_time(@user.basic_time) %>　基本時間</td>
  　　
  　　<!--初日-->
  　　<td width = "15%">初日 <%= @first_day.to_s(:date) %></td>
  　</tr>
  　
  　<tr>
      <!--所属-->
  　　<td>所属：<%= @user.affiliation %></td>
  　　
  　　<!--氏名-->
  　　<td>氏名：<%= @user.name %></td>
  　　
  　　<!--コード-->
  　　<td width = "7%">コード</td>
  　　<td width = "7%">874</td>
  　　
  　　<!--出勤日数-->
  　　<td width = "11%">出勤日数：<%= @attendances_count %>日</td>
  　　
  　　<!--締日-->
  　　<td>締日 <%= @last_day.to_s(:date) %></td>
  　</tr>
  　
  </table>

  <!--勤怠編集画面遷移ボタン-->
  <%= link_to "勤怠を編集", attendance_edit_url(@attendance,\
  params:{id: @user.id, first_day: @first_day }),class: "btn btn-edit-attendance btn-success" %>

  <!--勤怠表示テーブル-->
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th rowspan = "2" width = "7%">日付</th>
        <th rowspan = "2" width = "6%">曜日</th>
        <th colspan = "3" width = "20%">出社</th>
        <th colspan = "3" width = "20%">退社</th>
        <th rowspan = "2" width = "10%">在社時間</th>
        <th rowspan = "2" width = "10%">備考</th>
        <th rowspan = "2" width = "10%">残業指示</th>
        <th rowspan = "2" width = "17%">指示者</th>
      </tr>
      
      <tr>
        <th width = "5%">時</th>
        <th width = "5%">分</th>
        <th width = "10%"></th>
        <th width = "5%">時</th>
        <th width = "5%">分</th>
        <th width = "10%"></th>
      </tr>
    </thead>
    
    <tbody>
      <!--月初日から月締日までの繰り返し処理行-->
      <!--@daysにはuserに紐付いたattendancesのデータが入っている-->
      <% @days.each do |d| %>
      <tr class = "days" >
        
        <!--日付表示-->
        <td><%= d.attendance_day.to_s(:day) %></td>
        
        <!--曜日表示-->
        <td><%= @week[d.attendance_day.wday] %></td>
        
        <!--出社時間：時-->
        <td>
          <!--（条件）各日付に出社時間が入っているか？-->
          <%= d.time_in.to_s(:hour) if d.time_in.present? %>
        </td>
        
        <!--出社時間：分-->
        <td>
          <%= d.time_in.to_s(:minute) if d.time_in.present? %>
        </td>
        
        <!--出社ボタン-->
        <td>
          <!--(条件) 各日付の中で当日に該当 かつ time_inが存在しない-->
          <% if d.attendance_day == Date.current && d.time_in.nil? %>
            <%= button_to "出社",{action: "time_in"},{class: "btn btn-attendance btn-default"}%>
          <% end %>
        </td>
        
        <!--退社時間：時-->
        <td>
          <%= d.time_out.to_s(:hour) if d.time_out.present? %>
        </td>
        
        <!--退社時間：分-->
        <td>
          <%= d.time_out.to_s(:minute) if d.time_out.present? %>
        </td>
        
        <!--退社ボタン-->
        <td>
          <!--（条件）各日付の中で当日に該当 かつ time_inが存在し、time_outは存在しない。-->
          <% if d.attendance_day == Date.current && d.time_in.present? && d.time_out.nil? %>
            <%= button_to "退社", {controller: 'users', action: 'time_out'}, \
            {method: :patch, class: "btn btn-attendance btn-default"}%>
          <% end %>
        </td>
        
        <!--在社時間-->
        <td>
          <!--各日付の出社時間と退社時間が存在するか-->
          <% if d.time_in.present? && d.time_out.present? %>
            <%= working_hours(d.time_in,d.time_out) %>
          <% end %>
        </td>
        
        <!--備考-->
        <td></td>
        
        <!--残業指示-->
        <td></td>
        
        <!--指示者-->
        <td></td>
        
      </tr>
      <!--繰り返し処理完-->
      <% end %>
    </tbody>
    
    <!--勤怠表示テーブル最下部-->
    <tfoot>
      <tr>
        <!--（総合勤務時間）基本時間 * 出勤日数-->
        <td colspan = "2"><%= basic_info_time(@user.basic_time).to_d * @attendances_sum %></td>
        <!--未定-->
        <td colspan = "6"></td>
        <!--トータル在社時間-->
        <td>
          <%= ((@total_time.to_d/ 60)/ 60).truncate(2) if @total_time.present? %>
        </td>
        <td></td>
        <td></td>
        <td>所属長承認</td>
      </tr>
    </tfoot>
  </table>
</div>