<% provide(:title,"勤怠表示画面" ) %>


<div>
  <!--ユーザー情報テーブル-->
  <table class = "table-bordered table-condensed">
    
    <tr>
      <td width = "35%">
        <%= link_to "◀︎︎", user_url(params:{id: @user.id, first_day: @first_day.prev_month }), class: "btn btn-xs btn-default" %>
          &emsp;<%= @first_day.to_s(:month) %>　時間管理表&emsp;
        <%= link_to "▶︎︎︎", user_url(params:{id: @user.id, first_day: @first_day.next_month }), class: "btn btn-xs btn-default" %>
      </td>
      <td width = "25%">指定勤務時間　<%= basic_info_time(@user.specified_working_time) %></td>
  　　<td width = "25%" colspan = "3"><%= basic_info_time(@user.basic_time) %>　基本時間</td>
  　　<td width = "15%">初日 <%= @first_day.to_s(:date) %></td>
  　</tr>
  　
  　<tr>
  　　<td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
  　　<td>氏名：<%= @user.name %></td>
  　　<td width = "7%">コード</td>
  　　<td width = "7%">874</td>
      <td width = "11%">出勤日数：<%= @attendances_count %>日</td>
  　　<td>締日 <%= @last_day.to_s(:date) %></td>
  　</tr>
  　
  </table>

  <!--勤怠編集画面遷移ボタン-->
  <%= link_to "勤怠を編集", attendance_edit_url(@attendance,\
  params:{id: @user.id, first_day: @first_day }),class: "btn btn-edit-attendance btn-success" %>

  <!--勤怠情報表示テーブル-->
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th rowspan = "2" width = "7%">日付</th>
        <th rowspan = "2" width = "6%">曜日</th>
        <th colspan = "3" width = "20%">出社</th>
        <th colspan = "3" width = "20%">退社</th>
        <th rowspan = "2" width = "10%">在社時間</th>
        <th rowspan = "2" width = "10%">備考</th>
        <th rowspan = "2" width = "10%">残業指示</th>
        <th rowspan = "2" width = "17%">指示者</th>
      </tr>
      
      <tr>
        <th width = "5%">時</th>
        <th width = "5%">分</th>
        <th width = "10%"></th>
        <th width = "5%">時</th>
        <th width = "5%">分</th>
        <th width = "10%"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @days.each do |d| %>
      <tr class = "days" >
        <td><%= d.attendance_day.to_s(:day) %></td>
        
        <td><%= @week[d.attendance_day.wday] %></td>
        
        <td><%= d.time_in.to_s(:hour) if d.time_in.present? %></td>
        
        <td><%= d.time_in.to_s(:minute) if d.time_in.present? %></td>
        
        <td>
          <% if d.attendance_day == Date.current && d.time_in.nil? %>
            <%= button_to "出社",timein_creat_path(@user,params:{id: @user.id}),{class: "btn btn-attendance btn-default"}%>
          <% end %>
        </td>
        
        <td><%= d.time_out.to_s(:hour) if d.time_out.present? %></td>
        
        <td><%= d.time_out.to_s(:minute) if d.time_out.present? %></td>
        
        <td>
          <% if d.attendance_day == Date.current && d.time_in.present? && d.time_out.nil? %>
            <%= button_to "退社",timeout_creat_path(@user,params:{id: @user.id}), class: "btn btn-attendance btn-default"%>
          <% end %>
        </td>
        
        <td>
          <% if d.time_in.present? && d.time_out.present? %>
            <%= working_hours(d.time_in,d.time_out) %>
          <% end %>
        </td>
        
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan = "2">
          <% if @user.basic_time.present? %>
            <%= basic_info_time(@user.basic_time).to_d * @attendances_sum %>
          <% end %>
        </td>
        <td colspan = "6"></td>
        <td><%= ((@total_time.to_d/ 60)/ 60).truncate(2) if @total_time.present? %></td>
        <td></td>
        <td></td>
        <td>所属長承認</td>
      </tr>
    </tfoot>
  </table>
</div>